@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary-50: #76C7A2;
    --color-primary-100: #00A2A1;
    --font-poppins: 'Poppins', 'sans-serif';
    --font-Lobster: 'Lobster', 'cursive';

    --shadow-item: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    --animate-slide-top: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    --animate-slide-down: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    --animate-fade-in: fade-in 0.5s both;
    --animate-fade-out: fade-out 0.5s both;
    --animate-rotate-center: rotate-center 0.6s linear infinite both;

    @keyframes slide-top {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes slide-down {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(100%);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
        }
    }

    @keyframes rotate-center {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}